@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body:not(:has(index)) {
  --tw-bg-opacity: 1;
  background-color: rgb(134 239 172 / var(--tw-bg-opacity));
}
